body { padding: 0; margin: 0 }
#unity-container { position: absolute; width: 100%; height: 100%; left: 0; top: 0; }
#unity-container.unity-desktop { width: 100%; height: 100%; }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  width: 256px; /* Match the width of the logo */
}
#unity-logo {
  width: 256px;
  height: 72px;
  background: url('FSL.png') no-repeat center;
  background-size: contain;
}
#unity-progress-bar-empty {
  width: 141px; /* Set to the actual width of your progress bar image */
  height: 18px;
  margin: 10px auto 0;
  background: url('progress-bar-empty-dark.png') no-repeat center;
  background-size: contain;
}
#unity-progress-bar-full {
  width: 0%;
  height: 100%;
  background: url('progress-bar-full-dark.png') no-repeat center;
  background-size: contain;
}
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-logo-title-footer { float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
